/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









.body{
    width: 1600px;
    position: relative;
    margin: 0 auto;
}

.header{
    color: aqua;
    width: 1600px;
    height: 100px;
    background: linear-gradient(pink,yellow);
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0 auto;
}



.header h1{
    font-size: 60px;
    position:relative;
}

.header h1 a:hover{
    color: chocolate;
}

.header h1 a:active{
    color: rgb(22, 207, 37);
}

.header li{
    font-size: 36px;
    display: block;
    float:left;
    padding-left:70px;
}

.shopping{
    margin-top:50px;
    margin-left: -70px;
}

.shopping li{
   font-size: 12px;
}

.mail{
    float:left;
}

.drop {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 10px;
}

.bodyy{
    width: 1600px;
    
    margin: 0 auto;
    position: relative;
}

.spasp{
    border: 5px red;
    border-style: ridge;
    width: 300px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.photo{
    
}

.textt img{
    position: absolute;
    top: 10px;
    margin-left: 5px;
    width: 60px;
    height: 40px;
    
}



.spasp img{
    width: 300px;
    height: 200px;
    
}

.bodyy h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bodyy p{
    text-indent:40px;
    font-family:fantasy;
    font-weight:lighter;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    line-height:  35px;
    letter-spacing:  2px;
}

.footer{
    width: 1600px;
    display: flex;
    background:linear-gradient(rgb(186, 44, 190),red);
    line-height:50px;
    justify-content: space-between;
    margin: 0 auto;
}

.footerabout {
    margin-left: 60px;
    float: left;
}

.footerabout1 {
    margin-right: 60px;
    float: right;
}

.footer span{
    background: greenyellow;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 10px;
}